<div class="title">
    {{ project.title }}
</div>
<div class="description" [innerHTML]="project.description" ></div>
<div class="tags">
    <div class="tag" *ngFor="let item of project.tags">{{item}}</div>
</div>
<div class="card-bottom">
    <div class="links">
        <a *ngIf="project.haveDemo" [href]="project.demoLink">
            <div class="demo-link">
                <img src="assets/svgs/link.svg"/>
                Демо
            </div>
        </a>
        <a [href]="project.gitHub">
            <img *ngIf="project.haveGithub" src="assets/svgs/github.svg" width="36px" height="36px">
        </a>
    </div>
</div>
